<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8  align-items-center" style="min-height: 600px; background-image: url(img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-7">
        <h1 class="display-2 text-white">Bonjour <%= locals.userInfo && locals.userInfo.name || 'User' %></h1>
        <p class="text-white mt-0 mb-5">
          Sinely est toujours en cours de développement, vous ne pourrez pas actuellemet modifier toutes les informations de votre profile.</p>
        <p class="alert alert-primary" role="alert">Votre identifiant Sinely sur Blockchain : <%= locals.userInfo && locals.userInfo.b_address || 'undefined' %></p>
        <p class="text-white mt-0 alert alert-primary" style="  inline-size: 100%;
        overflow-wrap: break-word;  display: inline-block;
        ">Votre clé publique : <%= locals.userInfo && locals.userInfo.public_key || 'undefined' %></p>
         
      </div>
    </div>
  </div>
</div>
