<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,700" rel="stylesheet">

<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scroll-wrapper scrollbar-inner" style="position: relative;"><div class="scrollbar-inner scroll-content scroll-scrollx_visible scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 681.6px;">
    <!-- Brand -->
    <div class="sidenav-header  d-flex  align-items-center">
      <a href="/">
        <span  style='  
        font-family: "Montserrat",montserrat;
        font-size: 60px;
        font-weight: 500;
        line-height: 1.2em;color:#5e72e4;
        margin-left:10%;'>Sinely</span>
      </a>
      <div class=" ml-auto ">
        <!-- Sidenav toggler -->
        <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/" >
                            <i class="ni ni-shop text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
            <!-- <div class="collapse show" id="navbar-dashboards">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="/dashboard.html" class="nav-link">
                    <span class="sidenav-mini-icon"> D </span>
                    <span class="sidenav-normal"> Dashboard </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/alternative.html" class="nav-link">
                    <span class="sidenav-mini-icon"> A </span>
                    <span class="sidenav-normal"> Alternative </span>
                  </a>
                </li>
              </ul>
            </div> -->
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="/sign"  >
              <i class="fa fa-barcode  text-primary"></i>
              <span class="nav-link-text">Certifier un document</span>
            </a>
           
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/issue"  >
              <i class="ni ni-archive-2  text-primary"></i>
              <span class="nav-link-text">Diplômes et attestations</span>
            </a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/check"  >
              <i class="fa fa-qrcode  text-primary"></i>
              <span class="nav-link-text">Vérifier Qr-Code</span>
            </a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/checksignature"  >
              <i class="ni ni-ungroup  text-primary"></i>
              <span class="nav-link-text">Vérifier E-Signature</span>
            </a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/checkfile"  >
              <i class="fa fa-check-square  text-primary"></i>
              <span class="nav-link-text">Vérifier document</span>
            </a>
           
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/requests"  >
              <i class="fa fa-envelope  text-primary"></i>
              <span class="nav-link-text">Demandes de certification</span>
            </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/profile"  >
                <i class="fa fa-user text-primary"></i>
                <span class="nav-link-text">Profile Blockchain</span>
              </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/checkuser"  >
                  <i class="fa fa-address-book  text-primary"></i>
                  <span class="nav-link-text">Répertoire des identités</span>
                </a>
                </li>

        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Premium Services</span>
          <span class="docs-mini">P</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="/" target="_blank">
              <i class="ni ni-spaceship"></i>
              <span class="nav-link-text">NFT tokens</span>
            </a>
          </li>
  
        </ul>
      </div>
    </div>
  </div><div class="scroll-element scroll-x scroll-scrollx_visible scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 19px; left: 0px;"></div></div></div><div class="scroll-element scroll-y scroll-scrollx_visible scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 534px; top: 0px;"></div></div></div></div>
</nav>
