<body class="bg-default bg-gradient-default ">
  <div class="main-content">
    <!-- Navbar -->
    <% include ../vpartials/auth/navbar %>
    <!-- Header -->
    <% include ../vpartials/auth/header %>
    <!-- Page content -->
    <div class="  mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7 text-center">
          <h1 class="text-white">404 - Page introuvable :>( </h1>
          <h1 class="text-white">Veuillez nous contacter sur contact@sinely.com en cas le problème persiste</h1>
          <a class="text-light" href="/" title="Go Home">Retour</a>
        </div>
      </div>
    </div>
  </div>
</body>
