<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="application-name" content="Sinely" />
  <meta name="application-version" content="2.2" />
  <meta name="application-version-date" content="1 Mai 2021" />
 <meta name="theme-color" content="#5b7bfe">
 <meta property="url" content="https://www.sinely.com/" />
 <meta property="description" content="Sinely est une platforme pour signer, certifier et authentifier les documents via la Blockchain. Avec Sinely vous pouvez délivrer des diplômes ou tout type de document sur la Blockchain" />
 <meta name="description" content="Sinely est une platforme pour signer, certifier et authentifier les documents via la Blockchain. Avec Sinely vous pouvez délivrer des diplômes ou tout type de document sur la Blockchain" />

 <meta name="robots" content="noodp" />
 <meta name="keywords" content="Blockchain,sinely, Blockchain Maroc,signer, authentifier, certifier fichier sur blockchain" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <meta property="og:type" content="product" />
 <meta property="og:title" content="Sinely" />
 <meta property="og:description" content="Une platforme Blockchain pour signer, certifier et authentifier les documents. Avec Sinely vous pouvez délivrer des diplômes ou tout type de document sur la Blockchain" />
 <meta property="og:image" content="/img/theme/preview.png" />
 <meta property="og:locale" content="fr_FR">
  <title>Sinely blockchain</title>
  <!-- Favicon -->
 <link href="/img/brand/favicon.png" rel="icon" type="image/png"> 
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,700" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
 
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
   <!-- Icons -->
   <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
   <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
   <!-- Page plugins -->
    <link rel="stylesheet" href="/assets/css/argon.css?v=1.1.0" type="text/css">

<link href="css/font-roboto.css" rel="stylesheet" as="font">
<link href="css/font-feather.css" rel="stylesheet" as="font" media="none" onload="this.media='all';">

  </head>
  <%- body %>
</html>
