<script src="/js/qr/qrcode.min.js"></script>

<body>
  <!-- Sidenav -->
  <% if(locals.userInfo  && locals.userInfo.name){ %>
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <% } 
    else {
      %>
      <div class=" bg-gradient-default " >   
         <% include ../partials/auth/navbar %>
      </div>
  
      <!-- Header -->
      <%}%>
    <!-- Header -->
     <!-- Page content -->
    <div class="container-fluid mt--7" style='padding-top: 150px;''>
      <div class="row">
       
        <div class="col-xl-11 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0"> Les conditions d'utilisation de sinely</h3>
                </div>
                
              </div>
            </div>
    

            <div class="card-body">
              <div class="row">
           <h1>Préambule</h1>
            <p>La société Sinely, édite et exploite le site internet accessible à l’adresse suivante https://sinely.com (ci-après « le SITE »).
            
            Le SITE propose un service de certification de fichiers nouvelle generation sur blockchain et des services complémentaires dans le cadre de la version Premium.
            
            TOUTE UTILISATION EFFECTUEE A QUEL QUE TITRE QUE CE SOIT DU SITE IMPLIQUE OBLIGATOIREMENT L'ACCEPTATION SANS RESERVE, PAR L’UTILISATEUR, DES PRESENTES CONDITIONS GENERALES D’UTILISATION (CGU).
            </p>

            <h1>Définitions</h1>
<div><p>
Les termes, mentionnés ci-dessous, ont dans les présentes CONDITIONS GENERALES D’UTILISATION, la signification suivante :
<ul>
<li>« CLIENT » : désigne toute personne physique ou morale, abonnée aux SERVICES Sinely</li>

<li>« COMPTE » : désigne l’interface hébergée sur le SITE dans laquelle est regroupé l’ensemble des données fournies par le CLIENT. 
L’accès au COMPTE se fait grâce aux IDENTIFIANTS.</li>

<li>« CONDITIONS GENERALES D’UTILISATION » ou « CGU » : désigne les présentes conditions contractuelles mises à disposition sur la page d’accueil du SITE, afin d’encadrer l’utilisation de celui-ci par tout UTILISATEUR.
</li>
<li>« CONDITIONS GENERALES DE SERVICE PREMIUM » ou « CGS PREMIUM » : désigne les conditions générales de services encadrant l’offre Premium. Il est précisé qu’il existe d’une part une version des CGS BtoC et d’autre part une version des CGS BtoB.
</li>
<li>« IDENTIFIANTS » : désigne l’adresse email et le mot de passe choisis par le CLIENT, nécessaires à l’accès à son COMPTE sur le SITE.
</li>
<li>« PARTIES » : désigne ensemble Sinely et l’UTILISATEUR.</li>

<li>« SITE » : désigne le SITE internet accessible à l’adresse https://Sinely.com . Le SITE regroupe l’ensemble des pages web, services et fonctionnalités proposés aux UTILISATEURS.
</li>
<li>« Sinely FREE » : désigne les SERVICES proposés par Sinely et pouvant être utilisés gratuitement via le SITE par tout UTILISATEUR.</li>

<li>« Sinely PREMIUM » : désigne les SERVICES accessibles uniquement au CLIENT ayant préalablement payé un abonnement.</li>

<li>« SinelyS » : désigne les transferts de fichiers opérés via le SITE.</li>

<li>« SERVICES » : désigne l’ensemble des services proposés par Sinely  aux UTILISATEURS par l’intermédiaire du SITE, et notamment la possibilité de réaliser des SinelyS.
</li>
<li>« UTILISATEUR » : désigne toute personne qui accède et navigue sur le SITE, qu’il soit CLIENT, utilisateur de l’offre Sinely FREE ou simple internaute.
</li>
</ul>
          </p>
        </div>
            <h1>Article 1: Obligations des UTILISATEURS</h1>
            
            <p>Dans le cadre de l’utilisation du SITE, chaque UTILISATEUR s’engage à ne pas porter atteinte à l’ordre public et à se conformer aux lois et règlements en vigueur, à respecter les droits des tiers et les dispositions des présentes CGU.
            
            L’UTILISATEUR s’engage à respecter la philosophie de SINELY. A cet égard, il s’oblige à ne pas diffuser sur le SITE des fichiers illicites et de façon générale à ne pas porter atteinte directement ou indirectement aux droits détenus par des tiers.
            
            S’agissant d’échanges des fichiers, SINELY interdit formellement aux UTILISATEURS de porter atteintes d’une quelconque façon que ce soit aux droits d’auteur et autres droits inhérents aux fichiers.
            
            Chaque UTILISATEUR a pour obligation de :

            <ul>
            <li>Se comporter de façon loyale et en bon père de famille à l’égard de SINELY et des tiers </li>
            <li>Être honnête et sincère dans les informations fournies à SINELY et, le cas échéant aux tiers UTILISATEURS </li>
            <li>Utiliser le SITE conformément à son objet tel que décrit dans les présentes CGU </li>
            <li>Ne pas détourner la finalité du SITE pour commettre des crimes, délits ou contraventions réprimés par le Code pénal ou toute autre loi </li>
            <li>Respecter la vie privée des tiers et la confidentialité des échanges </li>
            <li>Respecter les droits de propriété intellectuelle de SINELY portant sur les éléments du SITE et le cas échéant, les droits de propriété intellectuelle des autres UTILISATEURS </li>
            <li>Ne pas chercher à porter atteinte aux systèmes de traitements automatisés de données mis en œuvre sur le SITE </li>
            <li>Ne pas modifier les informations mises en ligne par SINELY ou par un autre UTILISATEUR </li>
            <li>Ne pas utiliser le SITE pour envoyer massivement des messages non sollicités (publicitaires ou autres) </li>
            <li>Ne pas diffuser des données ayant pour effet de diminuer, de désorganiser, de ralentir ou d’interrompre le fonctionnement normal du SITE.
            Dans le respect des dispositions légales et réglementaires en vigueur, l’UTILISATEUR s’engage à ne pas diffuser de contenus :
            <li>Constitutifs de dénigrement fautif visant SINELY ou les UTILISATEURS </li>
            <li>Contraires à l’ordre public et aux bonnes mœurs </li>
            <li>À caractère injurieux, diffamatoire, raciste, xénophobe, révisionniste ou portant atteinte à l'honneur ou à la réputation d'autrui </li>
            <li>Incitant à la discrimination, à la haine d'une personne ou d'un groupe de personnes à raison de leur origine ou de leur appartenance ou de leur non-appartenance à une ethnie, une nation, une race ou une religion déterminée </li>
            <li>Menaçant une personne ou un groupe de personnes </li>
            <li>A caractère pédophile </li>
            <li>Incitant à commettre un délit, un crime ou un acte de terrorisme ou faisant l'apologie des crimes de guerre ou des crimes contre l'humanité </li>
            <li>Incitant au suicide </li>
            <li>Permettant à des tiers de se procurer directement ou indirectement des logiciels piratés, des numéros de série de logiciels, des logiciels permettant des actes de piratage et d'intrusion dans les systèmes informatiques et de télécommunications, des virus et autres bombes logiques et d'une manière générale tout outil logiciel ou autre permettant de porter atteinte aux droits d'autrui et à la sécurité des personnes et des biens </li>
            <li>A caractère commercial (prospection, racolage, prostitution…)</li>
            </ul>
            </p>
            <h1>Article 2. Obligations de SINELY</h1> 
            <p>L’obligation générale de SINELY est une obligation de moyens. Il ne pèse sur SINELY aucune obligation de résultat ou de moyens renforcée d’aucune sorte.
            
            SINELY s’engage à mettre tous les moyens en œuvre pour assurer une continuité d’accès et d’utilisation du SITE 7 jours sur 7 et 24 heures sur 24.
            
            SINELY met en œuvre ses meilleurs efforts pour offrir une garantie optimisée de sécurisation des données transférées. SINELY attire toutefois l’attention des UTILISATEURS sur le fait que les protocoles actuels de communication via Internet ne permettent pas d’assurer de manière certaine et continue la transmission des échanges électroniques (messages, documents, identité de l’émetteur ou du destinataire).
            
            En pareille hypothèse, l’UTILISATEUR est immédiatement invité à signaler toute anomalie sur le SITE auprès des services de maintenance de SINELY qui traitera sa requête dans les meilleurs délais.
            
            L’UTILISATEUR reconnaît qu’il lui appartient de prendre toutes mesures nécessaires pour s'assurer que les caractéristiques techniques de son ordinateur et/ou de son réseau informatique, lui permettent l'accès à aux services du SITE et qu’il lui appartient de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination par d'éventuels virus, malware, circulant sur l'Internet ou contractés par tout autre moyen électronique.
            
            </p>
            <h1>Article 3. Principes généraux</h1>   
            <p>La société Sinely, via sa platforme Blockchain ou via son sitewev décline toute responsabilité liée à la véracité des informations fournies par 
              les utilisateur des comptes gratuits ou des utilisateurs ou au contenu chargé par les utilisateur notamment : </p>
       
            <ul>
            <li>en cas d’impossibilité d’accéder temporairement au SITE pour des opérations de maintenance technique ou d’actualisation des informations publiées. 
              Les UTILISATEURS reconnaissent que la responsabilité de SINELY ne saurait être engagée en cas de dysfonctionnements ou d’interruptions desdits 
              réseaux de transmission </li>
            <li>en cas d’attaques virales, intrusion illicite dans un système de traitement automatisé de données </li>
            <li>en cas d’utilisation anormale ou d’une exploitation illicite du SITE par un UTILISATEUR ou un tiers </li>
            <li>relativement au contenu des sites internet tiers vers lesquels renvoient des liens hypertextes présents sur le SITE </li>
            <li>en cas de non-respect des présentes CGU imputable aux UTILISATEURS </li>
            <li>en cas de retard ou d’inexécution de ses obligations, lorsque la cause du retard ou de l’inexécution est liée à un cas de force majeure telle qu’elle est définie à l’article 9 des présentes CGU </li>
            <li>en cas de cause étrangère non imputable à SINELY </li>
            <li>en cas d’agissement illicite d’un UTILISATEUR, ou d’inexécution contractuelle dont un UTILISATEUR se serait rendu coupable </li>
            <li>concernant les contenus des fichiers et de l’utilisation qui en est faite par les UTILISATEURS.</li>
          </ul>
            <p>En cas d’utilisation anormale ou d’une exploitation illicite du SITE, 
            l’UTILISATEUR est alors seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler. L’UTILISATEUR est également seul responsable des contenus de ses fichiers.
            </p>

            <h1>Article 4. Protection des données à caractère personnel</h1> 
            
           <p> Dans le cadre de l’exploitation du SITE, SINELY est susceptible de collecter des données à caractère personnel.
            
            Ces données sont nécessaires à la fourniture des SERVICES. Les données sont conservées confidentiellement par SINELY pour les besoins du contrat, de son exécution et dans le respect de la loi.
                       
            Conformément à la conformément à la loi n° 09-08 sur la protection des personnes physiques à l'égard du traitement des données à caractère personnel, SINELY assure la mise en œuvre des droits des personnes concernées.
            
            Il est rappelé que l’UTILISATEUR dont les données à caractère personnel sont traitées bénéficie des droits d’accès, de rectification, de mise à jour, de portabilité et d’effacement des informations qui le concernent, conformément aux dispositions de la loi 09-08.
            
            l’UTILISATEUR peut également, pour des motifs légitimes, s’opposer au traitement des données le concernant, sans motif et sans frais.
            
            L’UTILISATEUR peut exercer ces droits en adressant un courrier électronique à l’adresse : contact@sinely.com 
            
            Pour certaines finalités, SINELY aura la qualité de sous-traitant, le responsable de traitement étant le CLIENT. Ces éléments sont précisés dans un Accord de sous-traitance distinct, qui a été communiqué en amont aux CLIENTS concernés.
            
            </p>



            <h1>Article 5. Modification des CGU</h1>

<p>Les présentes CGU s’appliquent à tout UTILISATEUR navigant sur le SITE.

Les CGU pourront être modifiées et mises à jour par Sinely à tout moment, notamment pour s’adapter à l’évolution législative ou réglementaire.

Les CGU applicables sont celles en vigueur au moment de la navigation sur le SITE.
</p>

<h1>Article 6. Dispositions générales</h1>

<p>Le fait que l'une des PARTIES n'ait pas exigé l'application d'une clause quelconque des présentes CGU, que ce soit de façon permanente ou temporaire, ne pourra en aucun cas être considéré comme une renonciation à ladite clause.

En cas de difficulté d’interprétation entre l’un quelconque des titres figurant en tête des clauses, et l’une quelconque de celles-ci, les titres seront déclarés inexistants.
       </p>     
      
       <h1>Compétence et droit applicable</h1>

<p>LES PRESENTES CGU AINSI QUE LES RELATIONS ENTRE L’UTILISATEUR ET Sinely SONT REGIES PAR LE DROIT MAROCAIN.

En cas de différend survenant entre Sinely et un UTILISATEUR au sujet de l’interprétation, de l’exécution ou de la résiliation des présentes, les PARTIES s’efforceront de le régler à l’amiable.

Dans un tel cas de figure, l’UTILISATEUR est tout d’abord invité à contacter le service de médiation de Sinely à l’adresse suivante : contact@sinely.com

Si aucun accord n’est trouvé, il sera alors proposé une procédure de médiation facultative, menée dans un esprit de loyauté et de bonne foi en vue de parvenir à un accord amiable lors de la survenance de tout conflit relatif au présent contrat, y compris portant sur sa validité.
</p>
      
      </div>
            </div>
          

         
  
          </div>
        </div>
 

      
  
    </div>
  </div>
 
</body>
