



<body class="nav-open g-sidenav-hidden" data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="">
  <!-- Google Tag Manager (noscript) -->
   <!-- End Google Tag Manager (noscript) -->
  <!-- Sidenav -->

  <% include ../partials/sidebar %>

  
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
     <!-- Topnav -->
     <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/emptyheader %>

    <!-- Header -->
    <div class="header   pb-6">
      <div class="container-fluid">
        <div class="header-body">
        
		</div>
      </div>
    </div>
 
 
   <script src="https://demos.creative-tim.com/argon-dashboard-pro/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-pro/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-pro/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-pro/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-pro/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  
 
  <!-- Argon JS -->
  <script src="https://demos.creative-tim.com/argon-dashboard-pro/assets/js/argon.min.js?v=1.2.1"></script>
<div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"><div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
  
  </div></div>
 
  
 
 