<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
style="min-height: 100px; background-image: url(img/theme/profile-cover.jpg); 
background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <!-- <h1 class="text-white">Welcome!</h1> -->
          <h3 style="color:white">Sinely est en phase bêta de test</h3>
          <!-- <p class="text-lead text-light">The service is still in beta phase. We would love to hear your feedback!</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <!-- <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg> -->
  </div>
</div>
